# Dependencies
node_modules
npm-debug.log*

# Build outputs
build
dist

# Environment files
.env
.env.local
.env.development
.env.production

# IDE files
.vscode
.idea
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Git
.git
.gitignore

# Documentation
README.md
*.md



# Logs
logs
*.log