html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html,
body {
  height: 100%;
  margin: 0;
  line-height: 1.5;
  color: #121212;
}
textarea,
input,
button {
  font-size: 1rem;
  font-family: inherit;
  border: none;
  border-radius: 8px;
  padding: 0.5rem 0.75rem;
  box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.2), 0 1px 2px hsla(0, 0%, 0%, 0.2);
  background-color: white;
  line-height: 1.5;
  margin: 0;
}
button {
  color: #3992ff;
  font-weight: 500;
}

textarea:hover,
input:hover,
button:hover {
  box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.6), 0 1px 2px hsla(0, 0%, 0%, 0.2);
}

button:active {
  box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.4);
  transform: translateY(1px);
}

#navbar {
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
}

#error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.playground {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 10% 1fr;
  grid-gap: 0.5rem;
  padding: 0.1rem;
  justify-content: center;
}

.playground .toolbar {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: left;
}

.pure-button {
  background-color: #3992ff;
  color: white;
  border-radius: 8px;
  padding: 0.5rem 0.75rem;
  margin: 0.5rem;
  border: none;
  box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.2), 0 1px 2px hsla(0, 0%, 0%, 0.2);
}

/*
 * If the screen is wider than 700px, use a 2-column layout
 * If the screen is less than 700px wide, use a 1-column layout
 * The toolbar should always be in the first row
 */

@media (max-width: 700px) {
  .playground {
    grid-template-columns: 1fr;
    grid-template-rows: 10% 45% 45%;
    grid-template: "toolbar toolbar" 10% "code-editor code-result" 1fr / 1fr 1fr;

    grid-gap: 0.5rem;
    padding: 0.1rem;
    justify-content: center;
  }

  .playground .toolbar {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
  }

  .playground .code-editor {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
  }

  /* Overwrite the height of the Ace code editor */
  .playground #code-editor {
    width: 100% !important;
    height: 50vh !important;
  }

  .playground .ace_print-margin {
    display: none !important;
  }

  .playground > .code-result {
    grid-column: 1 / 4;
    grid-row: 3 / 4;
    background-color: #f5f5f5;
    height: 50vh;
  }
}

@media (min-width: 700px) {
  .playground {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 10% 45% 45%;

    grid-template: "toolbar toolbar" 10% "code-editor code-result" 1fr / 1fr 1fr;

    grid-gap: 0.5rem;
    padding: 0.1rem;
    justify-content: center;
  }

  .playground .toolbar {
    grid-column: 1 / 4;
  }

  .playground .code-editor {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  .playground > .code-result {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: #f5f5f5;
  }
}

.playground > .code-result ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.playground > .code-result li {
  padding: 0.5rem;
  margin-left: 1rem;
  border-bottom: 1px solid #ddd;
}

.playground > .code-result pre {
  margin: 0;
  padding: 0;
  font-size: 0.9rem;
  white-space: pre-wrap;
  word-wrap: break-word;
  color: #010101;
  /* Max width of the text */
  max-width: 100%;
}

.playground > .code-result li::before {
  float: left;
  content: ">";
  color: #010101;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.playground > .code-result .created-at {
  font-size: 0.8rem;
  color: #999;
}

.playground > .code-result .error {
  color: red;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.submit {
  margin-top: 1rem;
  width: 100%;
}

.docs {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: left;
  height: 100%;

  padding: 2rem;
}

.docs > h1,
h2,
h3,
h4 {
  text-align: center;
}

.docs > p,
blockquote {
  text-align: left;
}

.docs > blockquote {
  margin-left: 2rem;
  background-color: #f5f5f5;
  padding: 0.5rem;
}

.docs > pre {
  background-color: #32324c;
  color: #f5f5f5;
  border-radius: 8px;
  width: 100%;
  padding: 0.5rem;
}
